<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oudake.csrftest.dao.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.oudake.csrftest.model.Permission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, pid, name, description, url
  </sql>

    <select id="findPermissionsByUserId" parameterType="Integer" resultMap="BaseResultMap">
    SELECT
    DISTINCT t4.*
    FROM
        USER t1
        JOIN role_user t2 ON t1.id = t2.user_id
        JOIN role_permission t3 ON t2.role_id = t3.role_id
        JOIN permission t4 ON t3.permission_id = t4.id
    WHERE
        user_id = #{id}
    </select>
</mapper>