<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oudake.csrftest.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.oudake.csrftest.model.Role">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, role_name
  </sql>

    <select id="findRolesByUserId" parameterType="Integer" resultMap="BaseResultMap">
    SELECT
        t3.*
    FROM
        USER t1
        JOIN role_user t2 ON t1.id = t2.user_id
        JOIN role t3 ON t2.role_id = t3.id
    WHERE
        user_id = #{id}
    </select>
</mapper>